<!DOCTYPE html>
<html>
<head>
    <!-- Add title --> 
    <title></title>
    <!-- meta charset --> 
    <meta charset="UTF-8">
    
    <!-- SEMANTIC UI --> 
	<link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- Add CSS file path --> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

</head>
<body>
    <div class="ui inverted menu">
        <a class="item" href="/blogs/show_user_blogs">
            <i class="edit icon nav"></i>
            Blogs
        </a>
        <a class="item" href="/blogs/trending">
            <i class="file alternate outline icon nav"></i>
            Trending
        </a>
        <a class="item" href="/blogs/comming_soon">
            <i class="users icon nav"></i>
            Friends
        </a>
        <div class="right menu">
            <div class="item">
                <a href="/blogs/register"><div class="ui primary button">Sign Up</div></a>
            </div>
            <div class="item">
                <a href="/blogs/login"><div class="ui primary button">Login</div></a>
            </div>
        </div>
    </div>
    

