<%- include ('partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <div class="ui segment" id="main">
        <div id="main_text">
            <h1 class="ui header">Passionate about writing contents !</h1>
            <h2 class="ui subheader"> Enjoy the write-ups and stories here </h2>
        </div>
        <div class="down_arrow">
            <i class="arrow alternate circle down icon"></i>
        </div>
    </div>
    
    <div class="ui segment" id="t1">
        <div class="up_arrow">
            <i class="arrow alternate circle up icon"></i>
        </div>
        <div id="text_1">
            <h1 class="ui header"> Write creative things up in mind !</h1>
            <h2 class="ui subheader"> Let people know about your amazing ideas <h2>
        </div>
        <div class="down_arrow">
            <i class="arrow alternate circle down icon"></i>
        </div>
    </div>
    
    <div class="ui segment" id="t2">
        <div class="up_arrow">
            <i class="arrow alternate circle up icon"></i>
        </div>
        <div id = "text_2">
            <h1 class="ui header"> Add stories and insipre people !</h1>
            <h2 class="ui subheader"> Make new friends by sharing write ups <h2>
        </div>
    </div>
    
    <script type="text/javascript" src="/scripts/index_script.js"></script> 

<%- include ('partials/footer.ejs') %>

